@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght,SOFT@0,9..144,100..900,100;1,9..144,100..900,100&display=swap')


html{
	font-size: 16px;
	font-family: "Fraunces", serif;
	  font-variation-settings:
    "SOFT" 100,
    "WONK" 0;
}

body {
	max-width: 100%;
	margin: 160px 32px 0;
}

h1, h2{
	font-weight: 800;
	font-style: normal;
	font-family: "Figtree", sans-serif;
}

p, a {
	font-weight: 500;
	line-height: 1.5rem;
}

.project-link{
 	background-color: transparent;
 	list-style: none;
 	width:  fit-content;
}

.project-link:hover{
	background-color: #C5E99B;
}

@media (min-width: 768px){
	body {
		max-width: 760px;
		margin:  80px auto 0;
	}
}